.logo{
	float: left;
}

.logo img {
	height: 100px;
}
.inline-block{
	display: inline-block;
}
.navbar{
	float: right;
}
.navbar-li{
	margin: 0 10px;
/*	line-height: 100px;*/
}
.navbar-li:before{
	content:"";
	display: inline-block;
	background-color: yellow;
	height: 100px;
	width: 4px;
}
.navbar-li:after{
	content:"";
	display: inline-block;
	background-color: green;
	height: 100px;
	width: 4px;
}
/*header{
	background-color: red;
}*/
.clear{
	clear: both;
}
.container{
	width: 1200px;
	margin:50px auto;
	background-color: aqua;
}
.container:after{
	content: "";
	clear: both;
	display: block;

}	
.gvriti{
	float: right;
	width: 300px;
}
.texti{
	float: left;
	width: 500px;
	margin-top: 177px;
}
.box{
	background-color: black;
}
.box:after{
	content: " ";
	clear: left;
	display: block;
}
.box1{
	height: 200px;
	width: 200px;
	background-color: pink;
	float: left;
	margin-right: 30px;
}